<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profolio Page</title>
    </head>
    <body>
       {{> header}}
        <p> These are the sites I created</p>
    
       {{> footer}}
    </body>
</html>